/**************************************************************************
 *
 *  THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY
 *  KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 *  IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR FITNESS FOR A PARTICULAR
 *  PURPOSE.
 *
 *  Copyright (c)   Microsoft Corporation.  All Rights Reserved.
 *
 **************************************************************************/

#include <windows.h>
#include "amcap.h"

//
// Icons
//

//
// Main menu
//
ID_APP menu
BEGIN
	POPUP "File"
	BEGIN
		MENUITEM SEPARATOR
	END
    POPUP "&Devices"
        BEGIN
            MENUITEM SEPARATOR
		END
    POPUP "&Options"
        BEGIN
            MENUITEM "&Preview"             , MENU_PREVIEW
        END
    POPUP "&Help"
        BEGIN
            MENUITEM "&About..."            , MENU_ABOUT
        END
END

//
// Dialogs
//

// About Dialog
IDD_ABOUT DIALOG DISCARDABLE  10, 20, 215, 78
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About AMCap..."
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT           "AMCAP - DirectShow Video Capture Sample",-1,23,
                    8,170,8,NOT WS_GROUP
    CTEXT           "Version 9.01",-1,41,23,134,8,NOT WS_GROUP
    CTEXT           "Copyright ©  Microsoft Corp.",-1,23,
                    38,170,8,NOT WS_GROUP
    DEFPUSHBUTTON   "OK",IDOK,91,53,32,14,WS_GROUP
    ICON            "AMCAPICON"-1,7,17,21,20
END

//
// Version Info
//
#define VERSION_RES_BIN_NAME        "Amcap.exe\0"
#define VERSION_RES_BIN_DESCRIPTION "Capture Application (Sample)\0"
#define VERSION_RES_ACTIVEX         "\0"
#define VERSION_RES_TYPE            VFT_APP

#define AMOVIE_SELF_REGISTER


